<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <div>
        <p>
            <h1>회원가입</h1>

        <form action="/members/new" method="post">
            <fieldset>
                <legend>양식</legend>
                <label for="name">
                    <input type="text" id="name" name="name" placeholder="이름을 입력하셈">
                </label>
                <button type="submit">등록</button>
            </fieldset>
        </form>
        </p>
    </div>
</body>
</html>