<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #postForm {
            margin: 10%;
        }

        .button-wrapper {
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="js/board.js"></script>
</head>
<body>
<form id="postForm" action="/board/newPost" method="POST">
    <div class="mb-3">
        <label for="contentWriterInput" class="form-label">닉네임</label>
        <input type="text" class="form-control" id="contentWriterInput" name="writer">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">제목</label>
        <input class="form-control form-control-lg" type="text" placeholder="울부짖는 흑염룡"
               aria-label=".form-control-lg example" name="title">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="크아아앙"
                  name="content"></textarea>
    </div>
</form>
<div class="button-wrapper">
    <button type="submit" class="btn btn-primary" id="submitBtn">글싸기</button>
    <div class="pagination-wrapper">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>